# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Build output directories
dist/
build/

# TypeScript build info
*.tsbuildinfo

# Environment variable files
.env
.env.local
.env.*.local

# Coverage directory (if using a testing framework)
coverage/

# OS-specific files
.DS_Store
Thumbs.db
